<aside class="Hui-aside" style="background: #FDF5F2;">
	<div class="menu_dropdown bk_2 sidebar">
		<!-- 管理员 -->
		<dl id="menu-system" class="guanli">
			<dt data-node-id="67" class="rule_node"><i class="Hui-iconfont">&#xe62d;</i> 管理列表<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li data-node-id="67" class="rule_node"><a data-href="{:url('Admin/index')}" data-title="管理员" href="javascript:void(0)">管理员</a></li>
					<li data-node-id="70" class="rule_node"><a data-href="{:url('Admin/roleIndex')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
					<!-- <li data-node-id="102"><a data-href="{:url('Admin/authRule')}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li> -->
				</ul>
			</dd>
		</dl>
		<!-- 用户管理 -->
		<dl id="menu-admin">
			<dt data-node-id="39" class="rule_node"><i class="Hui-iconfont">&#xe62c;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li data-node-id="40" class="rule_node"><a data-href="{:url('User/index')}" data-title="用户列表" href="javascript:void(0)">用户列表</a></li>
					<li data-node-id="40" class="rule_node"><a data-href="{:url('User/tupu')}" data-title="节点图" href="javascript:void(0)">节点图</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-system" class="guanli super" >
			<dt data-node-id="54" class="rule_node" ><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li data-node-id="54" class="rule_node"><a data-href="{:url('setting/index')}" data-title="基本设置" href="javascript:void(0)">基本设置</a></li>
					<li data-node-id="54" class="rule_node"><a data-href="{:url('setting/system')}" data-title="经销商参数" href="javascript:void(0)">经销商参数</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>