.wrap footer {
  width: 100%;
  height: 1.2rem;
  background: #ffffff;
  font-size: .2rem;
}
.wrap footer .xuanzhong {
  color: #97c11f;
}
.wrap footer dl {
  width: 100%;
  height: 1rem;
  background: none;
  float: left;
  text-align: center;
  width: 50%;
}
.wrap footer dt {
  height: 30px;
}
.wrap footer dd {
  height: 20px;
}
