{include file="public/_meta" /}
<title></title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>订单管理 <span class="c-gray en">&gt;</span> 订单列表 
	<a class="btn btn-success radius r" style="line-height:1.5em;margin-top:3px" href="javascript:void(0);" onclick="downdo()" title="下载" ><i class="Hui-iconfont">&#xe640;</i></a>&nbsp;&nbsp;
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
	<form class="Huiform" method="get" action="">
		状态：
		<span class="select-box inline">
		<select name="or_status" class="select">
			<option value="">全部</option>
			<option value="0">待付款</option>
			<option value="1">待配送</option>
			<option value="2">待收货</option>
			<option value="3">已完成</option>
		</select>
		</span>
		日期范围：
		<input type="text" class="input-text Wdate" name="start" id="countTimestart" onfocus="selecttime(1)" value="{$Request.get.start|default=''}" size="17" class="date" readonly style="width:140px;"> 
		- 
		<input type="text" class="input-text Wdate" name="end" id="countTimeend" onfocus="selecttime(2)" value="{$Request.get.end|default=''}" size="17"  class="date" readonly style="width:140px;">
		<input type="text" class="input-text" style="width:200px" placeholder="店铺编号" name="st_serial_number" value="{$Request.get.st_serial_number|default=''}">
		<input type="text" class="input-text" style="width:200px" placeholder="订单号" name="or_number" value="{$Request.get.or_number|default=''}">
		<input type="text" class="input-text" style="width:200px" placeholder="用户编号,手机号" name="keywords" value="{$Request.get.keywords|default=''}">
		<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"><span class="r">共有数据：<strong>{$list->total()}</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border  table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th>订单编号</th>
				<th>客户姓名</th>
				<th>门店名称</th>
				<th>总价值</th>
				<th>购物币消耗</th>
				<th>购买类型</th>
				<th>购买方式</th> 
				<th>订单状态</th>
				<th>添加时间</th>
				<th>预约时间</th>
				<th>配送时间</th>
				<th>配送人</th>
				<th>完成时间</th>
				<th>操&nbsp;&nbsp;&nbsp;作</th>
			</tr>
		</thead>
		<tbody>
			{volist name="list" id="vo" key="k"}
				<tr class="text-c">
					<td><a title="订单详细" href="javascript:;" onclick="create({$vo.id},'detail','订单详细列表')" class="ml-5" style="text-decoration:none">{$vo.or_number}</a></td>
					<td>{$vo.us_text}</td>
					<td>{$vo.st_text}</td>
					<td>{$vo.or_total}</td>
					<td>{$vo.or_coin}</td>
					<td>{$vo.style_text}</td>
					<td>{$vo.type_text}</td>
					<td>{$vo.status_text}</td>
					<td>{$vo.or_add_time}</td>
					<td>{$vo.or_opinion_time}</td>
					<td>{$vo.or_courier_time}</td>
					<td>{$vo.co_text}</td>
					<td>{$vo.or_finish_time}</td>
					<td class="td-manage">
						<a onclick="del({$vo.id},'Admin')" style="text-decoration:none"><i class="Hui-iconfont" title="删除">&#xe60b;</i></a>
					</td>
				</tr>
			{/volist}
		</tbody>
	</table>
		<div class="pages" style="margin:20px;float: right; ">{$list|raw}</div>
	</div>
</div>
{include file="public/_footer" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript">
$('select[name="or_status"]').val({$Request.get.or_status});


function create(id,url,key){
	var url = "{:url('"+url+"')}?id="+id;
	creatIframe(url,key);
}

function selecttime(flag){
    if(flag==1){
        var endTime = $("#countTimeend").val();
        if(endTime != ""){
            WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime})}else{
            WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
    }else{
        var startTime = $("#countTimestart").val();
        if(startTime != ""){
            WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime})}else{
            WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
    }
 }
function downdo(){
	var url = window.location.href;
	$.ajax({
		type:'get',
		url:url,
		data:{a:1},
		success:function(data){
			console.log(data);
			window.location.href = data;
		}
	})
}

function optOrder(obj,id,type){
	// 发货
	if(type){
		$.post("{:url('Order/optOrder')}",{id:id,type:type}).success(function(data){
			layer.msg(data.msg);
			if(data.code){
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">发货中</span>');
				$(obj).remove();
			}
		});
	}
}
function quxiao(data){
	layer.confirm('确定要取消该订单么？', {
      btn: ['确定', '取消'] //可以无限个按钮
    }, function(index, layero){
        $.ajax({
            type:"post",
            url:"{:url('quxiao')}",
            data:{id:data},
            success:function(data){
                console.log(data);
                layer.msg(data.msg);
                if(data.code){
                    setTimeout(function(){
                        location.href = data.url;
                    },1000);
                }
            }
        })
    });
}
function tongguo(data){
	layer.confirm('确定要审核通过么？', {
      btn: ['确定', '取消'] //可以无限个按钮
    }, function(index, layero){
        $.ajax({
            type:"post",
            url:"{:url('pass')}",
            data:{id:data},
            success:function(data){
                layer.msg(data.msg);
                if(data.code){
                    setTimeout(function(){
                        location.href = data.url;
                    },1000);
                }
            }
        })
    });
}
</script> 
</body>
</html>